/* Styling for the MovieCard component */
.MovieCard {
  background-color: #282c34;
  color: white;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 0px;
}

/* Styling for the movie image */
.img {
  width: 300px;
}

/* Styling for the ppp container */
.upper {
  display: flex;
  align-items: center;
  justify-content: center;
}
